---
import GitHub from "../components/Icons/GitHub.astro";
import Carrousel from "./Carrousel.astro";
import Badge from "./Badge.astro";
import Link from "./Icons/Link.astro";

const BodegaStock = [
  {
    title: "Bodega Stock Soporte",
    description:
      "Sistema integral de gestión y trazabilidad de activos empresariales que automatiza el control de inventarios, seguimiento de movimientos y generación de reportes analíticos para la optimización de recursos e insumos corporativos",
    img: ["/11.png", "/12.png", "/13.png", "/14.png"],
    url: "https://github.com/llOrtegall/app-bodega-stock",
    github: "https://github.com/llOrtegall/app-bodega-stock",
    tags: [
      "TypeScript",
      "React",
      "NodeJS",
      "Express",
      "MongoDB",
      "Docker",
      "Nginx",
    ],
  },
  {
    title: "Shopping Cart",
    description:
      "Aplicación de carrito de compras con funcionalidades de agregar, eliminar y modificar productos en tiempo real",
    img: ["/21.png", "/22.png", "/23.png"],
    url: "https://shoppingcartortega.netlify.app",
    github: "https://github.com/llOrtegall/React_App_Ecommerce",
    tags: ["TypeScript", "React", "API Platzi", "Tailwind CSS"],
  },
];
---

<section class="p-4">
  {
    BodegaStock.map((proyec) => (
      <div>
        <article class="flex flex-col">
          <h1 class="pb-3">
            <Badge>{proyec.title}</Badge>
          </h1>
          <p>{proyec.description}</p>

          <nav class="flex py-4 gap-4">
            <a
              class="flex items-center rounded-full border bg-gray-900 border-white/10 justify-center gap-x-2 py-2 px-4 hover:scale-110 transition hover:bg-blue-400"
              target="_blank"
              rel="noopener noreferrer"
              href={proyec.github}
            >
              <GitHub class="size-6" />
              <p>Codigo GitHub</p>
            </a>

            <a
              class="flex items-center rounded-full border bg-gray-900 border-white/10 justify-center gap-x-2 py-2 px-4 hover:scale-110 transition hover:bg-blue-400"
              target="_blank"
              rel="noopener noreferrer"
              href={proyec.url}
            >
              <Link class="size-6" />
              <p>Ver Proyecto</p>
            </a>
          </nav>
          <div class="flex flex-wrap gap-2 items-center">
            <p>Tecnologías Utilizadas:</p>
            {proyec.tags.map((tag) => (
              <span class="text-yellow-600">{tag}</span>
            ))}
          </div>
        </article>
        <Carrousel imagenes={proyec.img} />
      </div>
    ))
  }
</section>
